<!DOCTYPE html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Редактирование пользователя</h1>
    <br>
     <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
        <label>Имя</label><br>
        <input name="name" value="{{user.name}}"  class="field" /><br><br>
        <label>Возраст</label><br>
        <input name="age" type="number" min="1" max="110" value="{{user.age}}" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <br>
     <a href="/">К списку пользователей</a>
</body>
<style>
    a{
      color: rgb(36, 192, 36);
    }
    *{
      background-color: #212121;
      color: #fff;
      text-align: center; 
      margin: auto;
    }
    .delete{
      color: red;
      cursor: pointer;
    }
    .field{
      width:180px;
    }
    input{
     background-color: #fff;
     color: #000;
     cursor: pointer;
    }
</style>
<html>